* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.container {
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #c69eeb;
    border-radius: 10px;
}

h2{
    text-align: center;
}

.container-form .form{
    padding: 20px;
    width: 800px;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.form-item input:focus {
    outline: none;
}

.form-item label{
    color:#180d0d;
    margin-bottom: 2px;
    font-size: 15px;
}

.form-item input {
    border: 2px solid white;
    font-size: 16px;
    padding: 2px;
}

.form button {
    width: 20%;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin-left: 280px;
    background-color: #9269f3;
    border-radius: 25px;
    border: none;
    outline-color: green;

}

.form-item.error input {
    border-color:#e74c3c;
    border-radius:4px;
}

.form-item.success input  {
    border-color:#2ecc71;
    border-radius:4px;
}

.form-item small{
    visibility: hidden;
}

.form-item.error small{
    visibility: visible;
    color:#e74c3c;
}

p.success{
    background-color: #2ecc71;
    width: 100%;
    color:white;
    font-size:18px;
    text-align: center;
    padding: 5px;
}


.container-table{
    display: flex;
}
table {
    width: 70%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
  }

table td{
    text-align: center;
}